body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.header-content {
    text-align: center;
    color: white;
    background-color: #e8e8e8;
    padding: 80px;
}
/* .header-img {
    background-repeat: no-repeat;
    background-image: url("../img/header_1.jpg");
    background-position: left;
    background-size: cover;
    border-style: solid;

} */
.social-icons {
    font-size: 3em;
}
i {
    color:white;
}
img.top {
    /* float: left; */
    border-style: solid;
    width: 50%;
    height: 50%;
    
}

.main-content {
    text-align: center;
}

.exp {
    text-align: left;
    padding: 0px 0px 0px 25%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #5588a3;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #00334e;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;

  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: #00334e;
    /* font-family: 'Raleway', sans-serif; */

  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }